.main_wrapper{
	position: relative;
	height: 100%;
}
.bg_kaoya{
	background: url(../image/beijingkaoya.gif) center top no-repeat;
	background-size: cover;
}
.bg_xiaolongxia{
	background: url(../image/xiaolongxia.jpg) center top no-repeat;
	background-size: cover;
}
.bg_zhutongfan{
	background: url(../image/zhutongfan.jpg) center top no-repeat;
	background-size: cover;
}
.bg_qiudaoyu{
	background: url(../image/qiudaoyu.png) center top no-repeat;
	background-size: cover;
}
.bg_qiaokeli{
	background: url(../image/qiaokeli.gif) center top no-repeat;
	background-size: cover;
}
.bg_guilinggao{
	background: url(../image/guilinggao.jpg) center top no-repeat;
	background-size: cover;
}
.bg_yunwu{
	background: url(../image/yunwu.gif) center top no-repeat;
	background-size: cover;
}
.bg_cuyu{
	background: url(../image/cuyu.gif) center top no-repeat;
	background-size: cover;
}
.bg_egan{
	background: url(../image/egan.gif) center top no-repeat;
	background-size: cover;
}
.bg_futejia{
	background: url(../image/futejia.gif) center top no-repeat;
	background-size: cover;
}
.bg_tilamisu{
	background: url(../image/tilamisu.gif) center top no-repeat;
	background-size: cover;
}
.shade_wrapper_1{
	height: 100%;
	background: url(../image/img_shadow3.png) center bottom no-repeat;
	background-size: contain;

}
.shade_wrapper_2{
	height: 100%;
	background: url(../image/img_shaodw.png) center bottom no-repeat;
	background-size: cover;
}
.subTitle_wrap{
	position: absolute;
	bottom: 7.3%;
	left: 50%;
	width: 100%;
	overflow: hidden;
	font-size: 24px;
	text-align: center;
	color: #fff;

	transform: translateX(-50%);
}
.subTitle_1_wrap{
	height: 58px;
	background: url(../image/img_tc.png) center center no-repeat;
	background-size: cover;
}
.subTitle_2_wrap{
	height: 88px;
	background: url(../image/img_tc_high.png) center center no-repeat;
	background-size: cover;
}
.subTitle{
	position: absolute;
	top: 100%;
	width: 100%;
	/* transform: translateY(58px); */
	transition: .8s ease;
}
.subTitle p{
	width: 90%;
	margin: 0 auto;
	vertical-align: middle;
}
.subTitle_1_wrap p{
	height: 58px;
	line-height: 58px;
}
.subTitle_2_wrap p{
	height: 88px;
	padding: 12px 0;
	line-height: 32px;
}
.subTitle_2_wrap .oneline{
	line-height: 64px;
}
.endPart_wrapper{
	position: absolute;
	bottom: 76px;
	width: 100%;
	animation: fadeIn .8s;
}
.play_txt{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	animation: fadeInOut 2s ease-in infinite;
}
.play_txt_1{
	line-height: 58px;
}
.play_txt_2{
	line-height: 88px;
}
.role_name{
	height: 58px;
	font-size: 26px;
	line-height: 58px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background: url(../image/img_tc.png) center center no-repeat;
	background-size: cover;
}
.role_name span{
	font-size: 22px;
	margin-left: 20px;
	font-weight: normal;
}
.txt_wrapper{
	width: 90%;
	margin: 16px auto 52px;
}
.txt_wrapper p{
	font-size: 24px;
	line-height: 34px;
	color: #fff;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
}
.btn_wrapper{
	text-align: center;
}
.btn_wrapper span, .btn_wrapper div{
	display: inline-block;
	width: 226px;
	height: 60px;
	color: transparent;
}
.btn_wrapper .btn_ztyb{
	margin-right: 60px;
	background: url(../image/ico_ztyb_normal.png) center center no-repeat;
	background-size: cover;
}
.btn_wrapper .btn_ztyb.hover{
	background-image: url(../image/ico_ztyb_hover.png);
}
.btn_wrapper .btn_share{
	background: url(../image/ico_fx_normal.png) center center no-repeat;
	background-size: cover;
}
.btn_wrapper .btn_share.hover{
	background-image: url(../image/ico_fx_hover.png);
}
.shade_share{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../image/img_ts.png) rgba(0,0,0,.7) right top no-repeat;
	background-size: 362px 170px;
	animation: fadeIn .8s;
	z-index: 100;
}
.download{
	position: absolute;
	right: 30px;
	top: 0;
	width: 134px;
	height: 240px;
	background: url(../image/downloadgame.png) center no-repeat;
	background-size: 100%;
	z-index: 100000;
}
.download a{
	display: block;
	width: 100%;
	height: 100%;
}
.play_shade{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
@keyframes fadeIn{
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeInOut{
  0% { opacity: 0; }
  50% { opacity: 1; }
	100% { opacity: 0; }
}


.point{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 150px;
	height: 40px;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background: #000;
}
