.main_wrapper{
	position: relative;
}
.main_wrapper .sub_wrap{
	height: 800px;
	background-size: 100% 100%;
}
.btn_join{
	position: fixed;
	right: 20px;
	bottom: 50px;
	width: 376px;
	height: 200px;
	background: url(../image/btn_cj.png) center top no-repeat;
	background-size: 100% 100%;
}
.html_01{
	background: url(../image/阴阳师html_01.png) center top no-repeat;
}
.html_02{
	background: url(../image/阴阳师html_02.png) center top no-repeat;
}
.html_03{
	background: url(../image/阴阳师html_03.png) center top no-repeat;
}
.html_04{
	background: url(../image/阴阳师html_04.png) center top no-repeat;
}
.html_05{
	background: url(../image/阴阳师html_05.png) center top no-repeat;
}
.html_06{
	background: url(../image/阴阳师html_06.png) center top no-repeat;
}
.html_07{
	background: url(../image/阴阳师html_07.png) center top no-repeat;
}
.main_wrapper .html_08{
	height: 458px;
	background: url(../image/阴阳师html_08.png) center top no-repeat;
	background-size: 100% 100%;
}
