.main_wrapper{
	position: relative;
	height: 100%;
	background: url(../image/beijingkaoya.gif) center top no-repeat;
	background-size: cover;
}
.shade_wrapper_1{

}
.shade_wrapper_2{
	height: 100%;
	background: url(../image/img_shaodw.png) center bottom no-repeat;
	background-size: cover;
}
.subTitle_wrap{
	position: absolute;
	bottom: 7.3%;
	left: 50%;
	width: 100%;
	height: 58px;
	overflow: hidden;
	font-size: 24px;
	line-height: 58px;
	text-align: center;
	color: #fff;
	background: url(../image/img_tc.png) center center no-repeat;
	background-size: cover;
	transform: translateX(-50%);
}
.subTitle{
	transform: translateY(58px);
	transition: .8s ease;
}
.subTitle p{
	height: 58px;
	line-height: 58px;
}
.subTitle.an_sub_5_1{
	transform: translateY(0);
}
.subTitle.an_sub_5_2{
	transform: translateY(-58px);
}
.subTitle.an_sub_5_3{
	transform: translateY(-116px);
}
.subTitle.an_sub_5_4{
	transform: translateY(-174px);
}
.subTitle.an_sub_5_5{
	transform: translateY(-232px);
}
